*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
   justify-content: center;
  
}
.wrapper {
    margin-top: 50px;
}
table {
    margin-top: 30px;
    width: 300px;
}
table,th,td {
    border: 1px solid black ;
}
th,td {
    padding: 10px;
}
.deadline {
    color: red;
}
.done {
    color: greenyellow;
}
